body {
  justify-content: center;
  text-align: center;
}

.scratch-pad {
  width: 500px;
  height: 25px;
}

.input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.params-input {
  width: 500px;
}

.formatted-list {
  margin: auto;
  text-align: left;
}
